@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Display:wght@100;200;300;400;700;800;900&display=swap");
:root {
  font-size: 1em;
  box-sizing: border-box;
}

body {
  font-family: "Noto Sans Display", sans-serif;
  line-height: 1.6;
}

h1,
h2,
h3,
p {
  margin: 0;
}

.spacing > * + * {
  margin-top: 2rem;
}

/* reused properties */
.font-weight-700 {
  font-weight: 700;
}
.font-weight-900 {
  font-weight: 900;
}

.landing {
  padding: 0;
}
.landing .btn {
  font-size: 1.125rem;
  background-color: var(--clr-accent, blue);
  color: var(--clr-text, #fff);
  transition: transform 200ms ease-in-out, opacity 175ms linear;
  padding: 0.7em 1.5em;
}
.landing .btn:hover,
.landing .btn:focus {
  transform: scale(1.1);
  opacity: 0.9;
}

.hero {
  background-color: #222;
  background: url("./img/shoe-3.png"), radial-gradient(#444, #111);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  background-blend-mode: multiply;
  background-attachment: fixed;
}
.hero-text {
  padding: 15em 0;
  width: 75%;
  margin: 0 auto;
}
.hero-text .primary-title,
.section-title {
  font-size: clamp(2.5rem, calc(5vw + 1rem), 4.5rem);
  line-height: 1;
}
.hero-text .btn-warning {
  --clr-accent: rgb(194, 151, 42);
}
.hero-text .btn-warning:hover {
  background-color: #dca312;
}

.navbar {
  backdrop-filter: blur(10px);
}
.navbar-collapse .navbar-nav {
  gap: 1em;
}
.navbar-collapse .navbar-nav a {
  color: #999;
}
.navbar-collapse .navbar-nav a:hover {
  color: #fff;
  border-bottom: 3px solid #fff;
  padding-bottom: 0.2em;
}
.navbar-brand {
  color: #999;
}

.featured {
  background-color: #eee;
  padding: 5em 0;
}
.section-title {
  color: #17353d;
  margin-bottom: 0.5em;
}
.featured__item {
  display: block;
  transform: scale(0.85);
  transition: transform 250ms ease-in-out;
  color: #333;
  padding: 0;
}
.featured__item:hover,
.featured__item:focus {
  transform: scale(1);
}
.featured__item:hover .featured__details,
.featured__item:focus .featured__details {
  opacity: 1;
}
.featured__item::after {
  content: "";
  position: absolute;
  padding: 75% 75% 0 0;
  background-color: #2193b0;
  border-radius: 50%;
  top: 10%;
  left: 10%;
  z-index: -1;
}
.featured__item:first-child p {
  margin-top: 1.5em;
  color: #c92929;
}
.featured__item:last-child p {
  margin-top: 1em;
  color: skyblue;
}
.featured__item:nth-child(2) p {
  margin-top: 3em;
  color: #0a0a4d;
}
.featured__details {
  opacity: 0;
  transition: opacity 250ms linear;
}
.featured__details .price {
  display: block;
  font-size: 2.5rem;
  line-height: 1;
}

.our-products {
  margin: 5em 0;
}
.our-products .product {
  background: radial-gradient(var(--clr-inner, #ddd), var(--clr-outer, #eee));
  padding: 2em 3em;
  margin-bottom: 3em;
  border-radius: 1em;
}
.our-products .product .text {
  display: block;
  width: 60%;
}
.our-products .product__title {
  font-size: clamp(3rem, calc(5vw + 1rem), 5.5rem);
  text-shadow: 0 0 0.2em rgba(0, 0, 0, 0.3);
  line-height: 1;
}

/* custom colors- our-products */
.shoe-red {
  --clr-inner: #faa700;
  --clr-outer: #e48d00;
  --clr-accent: #a1173c;
}

.shoe-white {
  --clr-inner: #fce4b3;
  --clr-outer: #eac886;
  --clr-accent: #2f4858;
}

.shoe-blue {
  --clr-inner: #6dd5ed;
  --clr-outer: #2193b0;
  --clr-accent: #008951;
}

.page-footer {
  background-color: #222;
  padding: 2em 0;
}
.page-footer .py-3 {
  margin: 0 !important;
}
.page-footer .py-3 ul {
  margin-bottom: 0 !important;
}
.page-footer .py-3 a:hover {
  color: #fff !important;
  border-bottom: 1px solid #fff;
}

@media (min-width: 768px) {
  .our-products .product .img {
    margin-right: -5em;
  }
  .our-products .product .img-left {
    margin-right: 0;
    margin-left: -5em;
  }
}
@media (max-width: 768px) {
  .our-products .product {
    display: flex;
    flex-direction: column-reverse;
    padding: 2em 2em;
  }
  .our-products .product .btn {
    margin-bottom: 1em;
  }
  .our-products .product .text {
    width: 100%;
    text-align: center;
  }
  .page-footer {
    font-size: 0.8em;
  }
  .row > * + * {
    margin-top: 1em;
  }
}

/* about */
.background {
  background: #dedec8;
  padding: 4em 0;
}
.team {
  color: #5e5e55;
  padding: 0 10%;
}
.team .card-columns {
  column-count: 4;
}
.team .card {
  background: none;
}
.team .card-title {
  font-size: 1.3rem;
  margin-bottom: 0;
}
@media (max-width: 992px) {
  .team {
    padding: 0 1em;
  }
}
@media (max-width: 576px) {
  .team {
    padding: 0 10%;
  }
}

/* contact.html */
.contact {
  height: 100vh;
}
form {
  height: 500px;
  width: 600px;
  background-color: rgba(255, 255, 255, 0.13);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
  backdrop-filter: blur(10px);
  border: 2px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0 0 40px rgba(8, 7, 16, 0.6);
  padding: 50px 35px;
}
form * {
  color: #fff;
  letter-spacing: 0.5px;
  outline: none;
  border: none;
}
form h3 {
  font-size: 32px;
  line-height: 42px;
  margin-bottom: 0.5em;
}
.form-control {
  margin-top: 10px;
  background-color: rgba(255, 255, 255, 0.07);
}
.box-shadow-1:hover {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

.btn-danger {
  margin-top: 50px;
  width: 100%;
  background-color: #fff;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  color: #080710;
  padding: 15px 0;
  font-size: 18px;
}
.social a:hover {
  color: #fff;
}
.social {
  margin-top: 20px;
  gap: 1em;
}
.bi {
  color: inherit;
}
.social .btn {
  background-color: rgba(0, 0, 0, 0.1);
  width: 100%;
}
@media (max-width: 600px) {
  form {
    width: 100%;
  }
}
@media (max-width: 400px) {
  form {
    padding: 25px 15px;
  }
}
